{% extends 'base.html.twig' %}

{% block title %}Project Form{% endblock %}

{% block content %}
    <h2>{{ form.vars.value.id ? 'Update Project' : 'Create Project' }}</h2>

    {{ form_start(form) }}
    {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.client, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.startDate, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.endDate, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.budget, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.status, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.projectManager, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.documents, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.priority, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.technologies, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.notes, {'attr': {'class': 'form-control'}}) }}
    <button type="submit" class="btn btn-primary">{{ form.vars.value.id ? 'Update' : 'Create' }}</button>
    {{ form_end(form) }}

    <a href="{{ path('project_list') }}" class="btn btn-secondary mt-2">Back to List</a>
{% endblock %}
